*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: rgb(20, 17, 20);
}
.site-header{
  background: linear-gradient(90deg, #079ee4, #811397);
  color: rgb(23, 32, 116);
  padding: 1rem;
  text-align: center;
}
.subtitle{
  opacity: 10%;
}
.content{
  display: flex; 
  gap: 3rem; 
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}
.card{
  background: #6b156e;
  padding: 1.25rem;
  border-radius: 22px;
  box-shadow: 0.6 18px rgba(115, 13, 124, 0.914);
  width: 300px;
}
