* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cfe1eb;
  color: hsl(0, 4%, 11%);
  line-height: 1.6;
}

.site-header {
  background: #020024;
  background: linear-gradient(80deg, rgba(2, 0, 36, 1) 4%, rgba(9, 9, 121, 1) 43%, rgba(0, 212, 255, 1) 95%);
  color: rgb(255, 255, 255);
  padding: 2rem 1rem;
  text-align: center;
}

details{
    display:inline-block;
    background: #4badeb;
    background: linear-gradient(178deg, rgb(98, 193, 222) 37%, rgb(75, 104, 235) 59%);
    border-radius:20px;
    padding:.6rem 1.2rem;
    box-shadow:0 4px 15px rgba(0,0,0,.1);
    cursor:pointer;
    border: 4px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 25px rgb(214, 7, 214);
}
details summary{
    list-style:none;
    font-weight:600;
    color:#0c0c0c;
}
details p{
    margin-top:.8rem;
}
details a{
    color:#080808;
    text-decoration:none;
    font-weight:500;
}
details a:hover{
    text-decoration:underline;
}

.site-header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.site-header p {
  font-size: 1.1rem;
  font-style: italic;
  color: #161516;
  opacity: 50%;
}


.content {
  padding: 2rem 1rem;
  max-width: 1000px;
  margin: auto;
}

.card {
  background-color: rgb(207, 209, 201);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
  padding: 1.5rem;
}

.card h2 {
  color: #0c0c0c;
  margin-bottom: 1rem;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.card p {
  text-align: justify;
  margin-bottom: 1rem;
}

.lk {
  display: inline-block;
  background-color: #8788eb;
  color: white;
  padding: 0.7rem 1.2rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #9ceeaa;
}

/* Footer */
.site-footer {
  background-color: #a9b7e6;
  color: #555353;
  padding: 2rem 1rem;
  text-align: center;
}

.site-footer h2 {
  margin-bottom: 1rem;
  color: #000000;
}

.site-footer a {
  color: #cc4b10;
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .site-header h1 {
    font-size: 2rem;
  }

  .card {
    padding: 1rem;
  }
}